$color-primary: rgb(0,153,255);

body {
    background-color: $color-primary;
    font-size: 62.5%;
    font-family: 'Saira', sans-serif;
}

.tasks, .projects {
    background-color: aliceblue;
    font-size: 1rem;  
    border-radius: 0.2rem;  
    padding: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-template-areas: 
        "title title"
        "projects tasks";
    gap: 1rem;
}

#container-title {
    font-size: 2.5rem;
    grid-area: title;
    justify-self: center;
}

.tasks, 
.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: min-content;

    .tasks {
    grid-area: tasks;
    };

    .projects {
        grid-area: list;
    }
}

.new-item {
    display: flex;
    justify-content: space-between;
}

#new-project-input,
#new-task-input {
    margin-right: 0.5rem;
    width: 95%;
}

.add-project-icon,
.add-task-icon {
    display:flex;
    align-items: center;
}

.task-list {
    list-style: none;
    padding: 0;

    a {
        text-decoration: none;
        color: black
    }
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
        background-color: lightgray;
    }

    a {
        text-decoration: none;
    }
}

.list-item-task {
    display: flex;
}

.menu-container {
    position: relative
}

.modify-item {
    display:flex;
    flex-direction: column;
}

.menu-del-item {
    color: red;
    padding: 0.2rem;
    margin: 0.1rem;
    background-color: white;
    border: none;
}

.sidebar {
    height: 100vh;
    width: 20vw;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: white;
    right: 0; 
    padding: 2rem;
    transition: margin-right 1.2s all;
    
    h2 {
        font-size: 2rem;
    }
}

.task-item {
    display: flex;
    grid-gap: 1rem;
    align-items: center;
    font-size: 1.2rem;
    cursor: default;
}

.complete-icon {
    height: 2rem;
    width: 2rem;
    background: url('https://api.iconify.design/akar-icons/circle.svg?width=30&height=30') no-repeat center center / contain;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

.close-sidebar {
    height: 2rem;
    width: 2rem;
    background-color: black;
    background: url('https://api.iconify.design/ant-design/close-circle-outlined.svg') no-repeat center center / contain;
}